<section id="ABOUT" data-scroll-reveals>
    <div class="container">
        <div class="row">
            <div class="title">
                <h1> Quem Sou</h1>
            </div>
            <div class="body">
                <div class="row" style="margin: 0;">
                    <div class="col-md-3 text-center">
                        <img class="img-circle" src="{{ $.Site.BaseURL }}img/profile/perfil.jpg" width="200">
                        <h4>Michael Douglas</h4>
                        <div class="social text-center">
                            <a href="https://www.facebook.com/mick.dsa" target="_blank"><i
                                    class="fa fa-facebook-official fa-2x"></i></a>
                            <a href="https://www.instagram.com/michael.dsa41/" target="_blank"><i
                                    class="fa fa-instagram fa-2x"></i></a>
                            <a href="https://github.com/michael158" target="_blank"><i class="fa fa-github fa-2x"></i></a>
                            <a href="https://www.linkedin.com/in/michaeldsa" target="_blank"><i
                                    class="fa fa-linkedin-square fa-2x"></i></a>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <h3 class="center-xs primary-color">Descrição</h3>
                        <p><b>"Full Stack Web Developer"</b> (sim esse é o jeito bonitinho de falar que eu faço sites).
                            Formado em
                            Análise e Desenvolvimento de Sistemas pela Universidade Católica de Brasília, desenvolvedor do
                            blog <a href="http://vidafascinante.com/" target="_blank">Vida Fascinante</a>, amante de filmes,
                            séries, vídeo
                            games. Trabalho na área de tecnologia
                            há <span class="years-of-work"></span> anos. Sempre fui apaixonado por tecnologia, e hoje atuo
                            ativamente com desenvolvimento Web. Atualmente
                            desenvolvedor back e front-end/mobile híbrido na empresa <a
                                    href="http://www.synapsebrasil.com.br/" target="_blank">Synapse
                                Brasil.</a>
                        </p>

                        <div class="p-t-15 text-center">
                            <a href="files/Currículo_Michael Douglas.doc" download class="btn btn-primary"><i
                                    class="fa fa-file-word-o"></i> Baixar Currículo</a>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin: 0;">
                    <div class="col-md-3 text-center hidden-sm hidden-xs">
                        <h3 class="center-xs primary-color">Minha Playlist</h3>
                        <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Amicheael157%3Aplaylist%3A7Cf8FBimuWilYs7so3Cvsi&theme=white" style="width: 100%" height="450" frameborder="0" allowtransparency="true"></iframe>
                    </div>

                    <div class="col-md-9">
                        <h3 class="center-xs primary-color p-b-15">Habilidades</h3>
                        <div class="row" id="skills">
                            <div class="col-md-2 col-sm-3 col-xs-6">
                                <center>
                                    <img src="{{ $.Site.BaseURL }}img/skills/html.png" class="img-adjust" data-toggle="tooltip"
                                         data-container="body" data-placement="bottom"
                                         title="É uma linguagem para estruturação e apresentação de conteúdo para a World Wide Web e é uma tecnologia chave da Internet originalmente proposto por Opera Software. É a quinta versão da linguagem HTML">
                                </center>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6">
                                <center>
                                    <img src="{{ $.Site.BaseURL }}img/skills/css.png" class="img-adjust" data-toggle="tooltip"
                                         data-container="body" data-placement="bottom"
                                         title="É a mais nova versão das famosas Cascading Style Sheets (ou simplesmente CSS), onde se define estilos para páginas web com efeitos de transição, imagem, e outros, que dão um estilo novo às páginas Web 2.0 em todos os aspectos de design do layout.">
                                </center>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6">
                                <center>
                                    <img src="{{ $.Site.BaseURL }}img/skills/js.png" class="img-adjust" data-toggle="tooltip"
                                         data-container="body" data-placement="bottom"
                                         title="É uma linguagem de programação interpretada. Foi originalmente implementada como parte dos navegadores web para que scripts pudessem ser executados do lado do cliente e interagissem com o usuário sem a necessidade deste script passar pelo servidor, controlando o navegador, realizando comunicação assíncrona e alterando o conteúdo do documento exibido.">
                                </center>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6">
                                <center>
                                    <img src="{{ $.Site.BaseURL }}img/skills/php.png" class="img-adjust" data-toggle="tooltip"
                                         data-container="body" data-placement="bottom"
                                         title="É uma linguagem interpretada livre, usada originalmente apenas para o desenvolvimento de aplicações presentes e atuantes no lado do servidor, capazes de gerar conteúdo dinâmico na World Wide Web. Figura entre as primeiras linguagens passíveis de inserção em documentos HTML.">
                                </center>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6">
                                <center>
                                    <img src="{{ $.Site.BaseURL }}img/skills/java.png" class="img-adjust" data-toggle="tooltip"
                                         data-container="body" data-placement="bottom"
                                         title="É uma linguagem de programação interpretada orientada a objetos desenvolvida na década de 90 por uma equipe de programadores chefiada por James Gosling, na empresa Sun Microsystems. Diferente das linguagens de programação convencionais, que são compiladas para código nativo, a linguagem Java é compilada para um bytecode que é executado por uma máquina virtual.">
                                </center>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6">
                                <center>
                                    <img src="{{ $.Site.BaseURL }}img/skills/mysql.png" class="img-adjust" data-toggle="tooltip"
                                         data-container="body" data-placement="bottom"
                                         title="É um sistema de gerenciamento de banco de dados (SGBD), que utiliza a linguagem SQL como interface. É atualmente um dos bancos de dados mais populares, com mais de 10 milhões de instalações pelo mundo.">
                                </center>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6">
                                <center>
                                    <img src="{{ $.Site.BaseURL }}img/skills/postgre.png" class="img-adjust" data-toggle="tooltip"
                                         data-container="body" data-placement="bottom"
                                         title="PostgreSQL é um sistema gerenciador de banco de dados objeto relacional (SGBDOR), desenvolvido como projeto de código aberto.">
                                </center>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6">
                                <center>
                                    <img src="{{ $.Site.BaseURL }}img/skills/jquery.png" class="img-adjust" data-toggle="tooltip"
                                         data-container="body" data-placement="bottom"
                                         title="É uma biblioteca JavaScript cross-browser desenvolvida para simplificar os scripts client side que interagem com o HTML. Ela foi lançada em dezembro de 2006 no BarCamp de Nova York por John Resig. Usada por cerca de 77% dos 10 mil sites mais visitados do mundo, jQuery é a mais popular das bibliotecas JavaScript.">
                                </center>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6">
                                <center>
                                    <img src="{{ $.Site.BaseURL }}img/skills/bootstrap.png" class="img-adjust" data-toggle="tooltip"
                                         data-container="body" data-placement="bottom"
                                         title="Framework criado por Mark Otto e Jacob Thornton, ambos engenheiros do Twitter e segundo a Wikipedia, é uma coleção de ferramentas para criação de websites e aplicações web utilizando o HTML e CSS.">
                                </center>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6">
                                <center>
                                    <img src="{{ $.Site.BaseURL }}img/skills/angularjs.png" class="img-adjust" data-toggle="tooltip"
                                         data-container="body" data-placement="bottom"
                                         title="É um framework JavaScript open-source, mantido pelo Google, que auxilia na execução de single-page applications. Seu objetivo é aumentar aplicativos que podem ser acessados por um navegador web, foi construído sob o padrão model-view-view-model (MVVM), em um esforço para facilitar tanto o desenvolvimento quanto o teste dos aplicativos.">
                                </center>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6">
                                <center>
                                    <img src="{{ $.Site.BaseURL }}img/skills/sass.png" class="img-adjust" data-toggle="tooltip"
                                         data-container="body" data-placement="bottom"
                                         title="É um  pré-processador de folhas de estilo (css) para auxiliar na produtividade de códigos">
                                </center>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6">
                                <center>
                                    <img src="{{ $.Site.BaseURL }}img/skills/hibernate.png" class="img-adjust" data-toggle="tooltip"
                                         data-container="body" data-placement="bottom"
                                         title="É um framework para o mapeamento objeto-relacional escrito na linguagem Java, mas também é disponível em .Net como o nome NHibernate. Este framework facilita o mapeamento dos atributos entre uma base tradicional de dados relacionais e o modelo objeto de uma aplicação, mediante o uso de arquivos (XML) ou anotações Java (veja Annotation (java)).scrição">
                                </center>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6">
                                <center>
                                    <img src="{{ $.Site.BaseURL }}img/skills/cake.png" class="img-adjust" data-toggle="tooltip"
                                         data-container="body" data-placement="bottom"
                                         title="É um framework escrito em PHP que tem como principais objetivos oferecer uma estrutura que possibilite aos programadores de PHP de todos os níveis desenvolverem aplicações robustas rapidamente, sem perder flexibilidade.">
                                </center>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6">
                                <center>
                                    <img src="{{ $.Site.BaseURL }}img/skills/zend.png" class="img-adjust" data-toggle="tooltip"
                                         data-container="body" data-placement="bottom"
                                         title="É um framework para aplicações Web de código aberto, orientado a objetos, implementado em PHP 5 e licenciado sob a New BSD License.">
                                </center>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6">
                                <center>
                                    <img src="{{ $.Site.BaseURL }}img/skills/laravel.png" class="img-adjust" data-toggle="tooltip"
                                         data-container="body" data-placement="bottom"
                                         title="É um framework PHP livre e open-source criado por Taylor B. Otwell para o desenvolvimento de sistemas web que utilizam o padrão MVC (model, view controller). Algumas características proeminentes do Laravel são sua sintaxe simples e concisa, um sistema modular com gerenciador de dependencias dedicado, várias formas de acesso a banco de dados relacionais e vários utilitários indispensáveis no auxílio ao desenvolvimento e manutenção de sistemas.">
                                </center>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6">
                                <center>
                                    <img src="{{ $.Site.BaseURL }}img/skills/phonegap.png" class="img-adjust" data-toggle="tooltip"
                                         data-container="body" data-placement="bottom"
                                         title="É uma plataforma para desenvolvimento de aplicativos móveis em código aberto. Ela se utiliza da tecnologia Apache Cordova para acessar a funções dos aparelhos móveis como acelerômetro, câmera e geolocalização, e permite por meio de alguns que os desenvolvedores criem aplicações utilizando HTML5, CSS3 e JavaScript sem a necessidade de depender de APIs específicas. Os aplicativos criados são compatíveis com iOS, Windows Phone e Android.">
                                </center>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6">
                                <center>
                                    <img src="{{ $.Site.BaseURL }}img/skills/amazon-aws.png" class="img-adjust" data-toggle="tooltip"
                                         data-container="body" data-placement="bottom"
                                         title="É uma coleção de serviços de computação em nuvem ou serviços web, que formam uma plataforma de computação na nuvem oferecida por Amazon.com">
                                </center>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6">
                                <center>
                                    <img src="{{ $.Site.BaseURL }}img/skills/git.png" class="img-adjust" data-toggle="tooltip"
                                         data-container="body" data-placement="bottom"
                                         title="É um sistema de controle de versão distribuído e um sistema de gerenciamento de código fonte, com ênfase em velocidade. O Git foi inicialmente projetado e desenvolvido por Linus Torvalds para o desenvolvimento do kernel Linux, mas foi adotado por muitos outros projetos.">
                                </center>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6">
                                <center>
                                    <img src="{{ $.Site.BaseURL }}img/skills/gulp.png" class="img-adjust" data-toggle="tooltip"
                                         data-container="body" data-placement="bottom"
                                         title="É um automatizador de tarefa que ajuda programadores a realizarem tarefas repetitivas mas essenciais para o desenvolvimento como: concatenação de arquivos, minificação, testes e muitas outras coisas necessárias para a criação de um código rápido e eficiente.">
                                </center>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6">
                                <center>
                                    <img src="{{ $.Site.BaseURL }}img/skills/vagrant.png" class="img-adjust" data-toggle="tooltip"
                                         data-container="body" data-placement="bottom"
                                         title="É uma ferramenta que permite que criemos rapidamente ambientes virtuais para fazermos testes, desenvolvimento ou provisionmento de ambientes utilizando as soluções de virtualização mais comuns como o Virtualbox e o VMWare, sendo também compatível com os principais provedores cloud como AWS, Rackspace e Digitalocean.">
                                </center>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6">
                                <center>
                                    <img src="{{ $.Site.BaseURL }}img/skills/scrum.png" class="img-adjust" data-toggle="tooltip"
                                         data-container="body" data-placement="bottom"
                                         title="É um framework de desenvolvimento iterativo e incremental utilizado no gerenciamento de projetos e desenvolvimento de software ágil.">
                                </center>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6">
                                <center>
                                    <img src="{{ $.Site.BaseURL }}img/skills/redhat.png" class="img-adjust" data-toggle="tooltip"
                                         data-container="body" data-placement="bottom"
                                         title="É uma distribuição de Linux muito conhecida, líder do mercado nos Estados Unidos, criada e mantida pela Red Hat.">
                                </center>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6">
                                <center>
                                    <img src="{{ $.Site.BaseURL }}img/skills/ubuntu.png" class="img-adjust" data-toggle="tooltip"
                                         data-container="body" data-placement="bottom"
                                         title="É um sistema operacional de código aberto, construído a partir do núcleo Linux, baseado no Debian.">
                                </center>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6">
                                <center>
                                    <img src="{{ $.Site.BaseURL }}img/skills/typescript.png" class="img-adjust" data-toggle="tooltip"
                                         data-container="body" data-placement="bottom"
                                         title="TypeScript é uma linguagem para desenvolvimento JavaScript em larga escala.
Com TypeScript podemos escrever código utilizando uma estrutura fortemente tipada e ter este código compilado para JavaScript puro.
Qualquer navegador. Qualquer host. Qualquer SO. Código Aberto.">
                                </center>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6">
                                <center>
                                    <img src="{{ $.Site.BaseURL }}img/skills/ionic.png" class="img-adjust" data-toggle="tooltip"
                                         data-container="body" data-placement="bottom"
                                         title="Ionic é um popular framework front-end para o desenvolvimento de aplicativos móveis multi-plataforma usando Cordova.">
                                </center>
                            </div>

                            <div class="col-md-2 col-sm-3 col-xs-6">
                                <center>
                                    <img src="{{ $.Site.BaseURL }}img/skills/mongo.png" class="img-adjust" data-toggle="tooltip"
                                         data-container="body" data-placement="bottom"
                                         title="O MongoDB é um banco de dados NoSQL escrito em C++ e Orientado a Documentos.">
                                </center>
                            </div>

                            <div class="col-md-2 col-sm-3 col-xs-6">
                                <center>
                                    <img src="{{ $.Site.BaseURL }}img/skills/elasticsearch.png" class="img-adjust" data-toggle="tooltip"
                                         data-container="body" data-placement="bottom"
                                         title="O Elastic Search é uma ferramenta para buscas de código aberto (opensource) que tem capacidade para tratar de grandes quantidades de dados em tempo real. É utilizado por empresas como Google, Facebook, GitHub, Twitter, SoundCloud, Yelp e Foursquare, por exemplo.">
                                </center>
                            </div>

                            <div class="col-md-2 col-sm-3 col-xs-6">
                                <center>
                                    <img src="{{ $.Site.BaseURL }}img/skills/node.png" class="img-adjust" data-toggle="tooltip"
                                         data-container="body" data-placement="bottom"
                                         title="Node.js é uma plataforma para desenvolvimento de aplicações server-side baseadas em rede utilizando JavaScript e o V8 JavaScript Engine, ou seja, com Node.js podemos criar uma variedade de aplicações Web utilizando apenas código em JavaScript.">
                                </center>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6">
                                <center>
                                    <img src="{{ $.Site.BaseURL }}img/skills/express.png" class="img-adjust" data-toggle="tooltip"
                                         data-container="body" data-placement="bottom"
                                         title="O Express é um framework para aplicativo da web do Node.js mínimo e flexível que fornece um conjunto robusto de recursos para aplicativos web e móvel.">
                                </center>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6">
                                <center>
                                    <img src="{{ $.Site.BaseURL }}img/skills/cassandra.png" class="img-adjust" data-toggle="tooltip"
                                         data-container="body" data-placement="bottom"
                                         title="Apache Cassandra é um projeto de sistema de banco de dados distribuído altamente escalável de segunda geração, que reúne a arquitetura do DynamoDB, da Amazon Web Services e modelo de dados baseado no BigTable, do Google.O Cassandra inicialmente foi criado pelo Facebook, que abriu seu código-fonte para a comunidade em 2008. Agora é mantido por desenvolvedores da fundação Apache e colaboradores de muitas empresas.">
                                </center>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="about-phrase">
        <div class="text-center">
            <h2>"Você quer isso rápido, barato, ou bem feito? Você pode escolher duas das três."</h2>
        </div>
    </div>
</section>