<section id="JOBS" data-scroll-reveals>
    <div class="container">
        <div class="row">
            <div class="title">
                <h1> Portfólio</h1>
            </div>
            <div class="body">
                <div class="col-md-6">
                    <div class="portfolio-info">
                        <div class="text-center">
                            <img src="img/jobs/gestaow-logo.png"
                                 alt="Gestão W" width="490"
                                 class="img-adjust"
                                 style="margin-top: 40px;">
                        </div>

                        <div class="text-center" style="margin-bottom: 22px">
                            <h3>GestãoW</h3>
                            <h4>Software para Gestão de Contratos, Processos e Licitações.</h4>
                            <a class="btn btn-primary" href="http://www.gestaow.com.br/" target="_blank"><i
                                    class="fa fa-eye"></i> Dar uma olhada</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="portfolio-info">
                        <div class="text-center">
                            <img
                                    src="img/jobs/vidafascinante-logo.png"
                                    alt="Vida Fascinante Blog"
                                    class="img-adjust"
                                    width="600">
                        </div>
                        <div class="text-center">
                            <h3>Vida Fascinante</h3>
                            <h4>Blog de entretenimento, cultura geek, comida e muito mais!</h4>
                            <a class="btn btn-primary" href="http://vidafascinante.com/" target="_blank"><i
                                    class="fa fa-eye"></i> Dar uma olhada</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="portfolio-info">
                        <div class="text-center">
                            <img src="img/jobs/app_anadem.png"
                                 alt="Aplicativo Anadem" width="150"
                                 class="img-adjust"
                                 style="margin-top: 20px;">
                        </div>

                        <div class="text-center" style="margin-bottom: 22px!important;">
                            <h3>Aplicativo Anadem</h3>
                            <h4>O aplicativo da ANADEM facilita as propostas de adesão para futuros associados.</h4>
                            <a href="https://play.google.com/store/apps/details?id=com.phonegap.anadem&hl=pt_BR"
                               target="_blank"><img src="img/jobs/icon-google-play.png" width="150"></a>
                            <a href="https://itunes.apple.com/br/app/anadem/id1163782183?mt=8" target="_blank"><img
                                    src="img/jobs/icon-apple-store.png" width="150"></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="portfolio-info">
                        <div class="text-center">
                            <img src="img/jobs/cirurgia-segura-logo.png"
                                 alt="Gestão W" width="500"
                                 class="img-adjust"
                                 style="margin-top: 60px;">
                        </div>

                        <div class="text-center" style="margin-bottom: 43px">
                            <h3>Cirurgia Segura</h3>
                            <h4>Seguro no pré, e pós-operatório imediato e mediato.</h4>
                            <a class="btn btn-primary" href="https://cirurgiasegura.com/" target="_blank"><i
                                    class="fa fa-eye"></i> Dar uma olhada</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>